# NOTE: Must match the port in the back-end repo's `STRAPI_ADMIN_CLIENT_URL` if you want to preview drafts.
PORT=3000

# NOTE: Replace with the host your images are coming from. This will probably match `BACKEND_API_URL`
# NOTE: The `NEXT_PUBLIC_` prefix means it's available in the browser
NEXT_PUBLIC_IMAGE_HOST="http://localhost:1337"

# NOTE: If you want to consume local data, must match the back-end repo's port.
BACKEND_API_URL="http://localhost:1337/"
# Uncomment for production data
# BACKEND_API_URL="https://fresh-novelty-41882c35fc.strapiapp.com/"

# NOTE: needs to match back-end repo's `STRAPI_ADMIN_CLIENT_PREVIEW_SECRET` value
# NOTE: The `NEXT_PUBLIC_` prefix means it's available in the browser
NEXT_PUBLIC_PREVIEW_SECRET="<secret-here>"

# NOTE: Generate a token from the Strapi admin panel
BACKEND_API_TOKEN="<strapi-token-here>"
