@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --main-public: #E9E5DB;
  --main-public-tint: #FFFDF7;
  --main-school: #CBCBC8;
  --main-school-tint: #E1E1DF;
  --main-white: #fff;
  --main-black: #000;
  --main-seasonal: #91FF8B;
  --record-news: #EEF7FF;
  --record-exhibitions: #E9E3FF;
  --record-events: #FFF2E1;
  --record-facilities: #F8FFDD;
  --programmes-foundation: #DFC784;
  --programmes-intermediate: #FFD4E0;
  --programmes-diploma: #D3E1EE;
  --programmes-profpractice: #DBE6C8;
  --programmes-postgrad: #D3C2DA;
  --programmes-shortcourses: #FFFDC8;
  --roam-light: #FDFFF0;
  --roam-dark: #000000;
  --hooke-base: #FFFFFF;
  --hooke-middle: #000000;
  --hooke-top: #CAF16C;
  --dta-primary-background-color: #1D453F;
  --dta-primary-highlight-color: #7C6D5A;
  --dta-tipin-people-foreground-color: #1D453F;
  --dta-tipin-institutions-foreground-color: #150D50;
  --dta-tipin-practices-foreground-color: #732E5B;
  --dta-tipin-collections-foreground-color: #531111;
  --dta-tipin-about-foreground-color: #1D453F;
  --dta-tipin-search-foreground-color: #1D453F;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .h1-dta {
    @apply font-nhgdisplay font-medium text-2xl sm:text-5xl;
  }
  .h1-dta-tipin2 {
    @apply font-diatype text-2xl sm:text-5xl;
  }
  .body-dta {
    @apply font-nhgtext text-base sm:text-xl;
  }
  .mono-dta {
    @apply font-diatype text-sm sm:text-2xl;
  }
  .caption-dta {
    @apply font-nhgtext text-xs font-medium sm:text-base sm:font-bold;
  }
}
