@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";
@layer base {
  :root {
    /* CSS variables come here  */
  }

  body {
    /* color: rgb(var(--foreground-rgb)); */
  }
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .dta_griditem_bg {
    background-size: 20px 20px;
    background-color: var(--color-dta-map-highlight);
    background-image:
      linear-gradient(
        to right,
        var(--color-dta-map-background) 1px,
        transparent 1px
      ),
      linear-gradient(
        to bottom,
        var(--color-dta-map-background) 1px,
        transparent 1px
      );
  }
  .sb-show-main.sb-main-padded {
    padding: 0px !important;
  }
}

@theme inline {
  /* Reset fonts */
  --font-*: initial;
  --font-diatype: var(--font-diatype), monospace;
  --font-nhg-display: var(--font-nhg-display), sans-serif;
  --font-nhg-text: var(--font-nhg-text), sans-serif;

  /* Colors */
  --color-*: initial;
  --color-black: #000;
  --color-white: #fff;
  --color-main-public: #e9e5db;
  --color-main-public-tint: #fffdf7;
  --color-main-school: #cbcbc8;
  --color-main-school-tint: #e1e1df;
  --color-main-white: #fff;
  --color-main-black: #000;
  --color-main-seasonal: #91ff8b;
  --color-dta-map-background: #1d453f;
  --color-dta-map-foreground: #ffffff;
  --color-dta-map-highlight: #7c6d5a;
  --color-dta-people-foreground: #1d453f;
  --color-dta-institutions-foreground: #150d50;
  --color-dta-practices-foreground: #732e5b;
  --color-dta-collections-foreground: #531111;
  --color-dta-about-foreground: #1d453f;
  --color-dta-search-foreground: #1d453f;
}

@layer utilities {
  .h1 {
    @apply font-nhg-display text-2xl font-medium sm:text-5xl;
  }
  .h1-tipin {
    @apply font-diatype text-2xl sm:text-5xl;
  }
  .h2 {
    @apply font-nhg-display text-2xl font-medium sm:text-4xl xl:text-5xl;
  }
  .body {
    @apply font-nhg-text text-base sm:text-xl;
  }
  .mono {
    @apply font-diatype text-sm sm:text-lg;
  }
  .caption {
    @apply font-nhg-text text-xs font-medium sm:text-base sm:font-bold;
  }
}
